.container {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 50;
    background-color: #FFF;
    border-top: 1px solid #b7b7b7;
}

@media (min-width: 1024px) {
    .container {
        display: none;
    }
}