.body {
    position: relative;
}

.image {
    position: relative;
    display: inline-block;
    border-radius: 200px;
    overflow: hidden;
    width: 44px;
    height: 44px;
}

.onlineCircle {
    position: absolute;
    top: 0;
    right: 0;
    height: 12px;
    width: 12px;
    display: block;
    border-radius: 200px;
    background-color: #22c55e;
}